<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NBA Night Recap</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Scores</th>
        <th>Points</th>
        <th>East</th>
        <th>West</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ol>
            {% for game in games %}
            {% if game.deltaQT3 < 10 %} <li class="highlighted">
              {% else %}
              <li>
                {% endif %}
                {{game.away}} @ {{game.home}} | {{game.deltaQT3}}pts</li>
              {% endfor %}
          </ol>
        </td>
        <td>
          <ol>
            {% for player in statLeaders.scorers %}
            {% if player.statistics.points > 29 %} <li class="highlighted">
              {% else %}
            <li>
              {% endif %}
              {{player.firstName}} {{player.familyName}} ({{player.teamTricode}}) | {{player.statistics.points}}
              pts</li>
            {% endfor %}
          </ol>
        </td>
        <td>
          <ol>
            {% for team in eastStandings %}
            {% if loop.index < 7 %} <li class="highlighted capital">
              {% else %}
              {% if loop.index <= 10 %} <li class="highlighted capital">
                {% else %}
                <li>
                  {% endif %}
                  {% endif %}
                  {{team[3]}} | {{team[38]}} |

                  {% if team[37][0] == 'W' %}
                  <span class="win">{{team[37]}}</span>
                  {% else %}
                  <span class="loss">{{team[37]}}</span>
                  {% endif %} | {{team[20]}}
                </li>
                {% endfor %}
          </ol>
        </td>
        <td>
          <ol>
            {% for team in westStandings %}
            {% if loop.index < 7 %} <li class="highlighted capital">
              {% else %}
              {% if loop.index <= 10 %} <li class="highlighted capital">
                {% else %}
                <li>
                  {% endif %}
                  {% endif %}
                  {{team[3]}} | {{team[38]}} |

                  {% if team[37][0] == 'W' %}
                  <span class="win">{{team[37]}}</span>
                  {% else %}
                  <span class="loss">{{team[37]}}</span>
                  {% endif %} | {{team[20]}}
                </li>
                {% endfor %}
          </ol>
        </td>
      </tr>
    </tbody>
  </table>

</body>

</html>